<style>
  .btn-search{
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    width: 10rem;
  }

  .btn-search:hover{
    background-color: #fe424d;
    color: white;
  }

  .btn-search i
  {
    display: inline;
    margin-right: 0.3rem;
  }

  .searchInput
  {
    border-radius: 25px;
    padding: 0.2rem 2rem 0.2rem 1rem;
    font-size: 0.8rem;
  }

  .search-container {
    position: fixed;
    top: 0.8rem;
    left: 47%;
    transform: translateX(-50%);
    justify-content: center;
  }


  @media (max-width: 636px) {
    .search-container {
      width: 60%;
    }
  }

  @media (max-width: 533px) {

      .btn-search{
      background-color: #fe424d;
      color: white;
      border-radius: 25px;
      width: 30%;
      font-size: small;
    }

      .searchInput
    {
      border-radius: 25px;
      font-size: 0.8rem;
      width: 70%;
    }
  }

  @media (max-width: 495px) {
      .search-container {
        top: 1rem;
        margin-right: 1rem;
        width: 70%;
        justify-content: center;
        align-items: center;
        left: 50%;
        transform: translateX(-50%);
      }

      .btn-search{
      background-color: #fe424d;
      color: white;
      border-radius: 25px;
      width: 30%;
      font-size: x-small;
    }

    .btn-search i
    {
      display: inline;
      margin-right: 0.1rem;
    }
      .searchInput
    {
      border-radius: 25px;
      font-size: 0.6rem;
      width: 60%;
    }
  }


</style>

<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <!-- Brand Logo -->
    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass"></i>
    </a>

    <!-- Search Bar (Always Centered) -->
    <div class="search-container ms-auto">
      <form class="d-flex" role="search">
        <input class="form-control me-2 searchInput" type="search" placeholder="Search Destinations">
        <button class="btn btn-search" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>Search
        </button>
      </form>
    </div>

    <!-- Navbar Toggler Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Menu -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- Left Links -->
      <div class="navbar-nav">
        <!-- <a class="nav-link" aria-current="page" href="/">Home</a> -->
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <!-- Right Links -->
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/add/new">Airbnb your home</a>
        <% if (currUser) { %>
          <a class="nav-link" href="/logout"><b>LogOut</b></a>
        <% } %>

        <% if (!currUser) { %>
          <a class="nav-link" aria-current="page" href="/signup"><b>SignUp</b></a>
          <a class="nav-link" href="/login"><b>LogIn</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>



























<!-- 
<style>
  .btn-search{
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem;
  }

  .btn-search:hover{
    background-color: #fe424d;
    color: white;
  }

  .btn-search i
  {
    display: inline;
    margin-right: 0.5rem;
  }

  .searchInput
  {
    border-radius: 25px;
    padding: 0.5rem 3rem;
    font-size: 0.8rem;
  }

  /* .searchContainer{
    position: absolute;
    left: 30%;
    top: 20;
  } */

  @media (max-width: 991px) {
    .searchContainer{
    position: fixed;
    left: 30%;
    top: 20px;
  }
  }
</style>

<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings">
        <i class="fa-regular fa-compass"></i>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/listings">Explore</a>
        </div>

        <div class="ms-auto searchContainer">
          <form class="d-flex" role="search">
            <input class="form-control me-2 searchInput" type="search" placeholder="Search Destinations" >
            <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        </div>

        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/add/new">Airbnb your home</a>
          <% if (currUser) { %>
            <a class="nav-link" href="/logout"><b>LogOut</b></a>
          <% } %>
          
          <% if (!currUser) { %>
            <a class="nav-link" aria-current="page" href="/signup"><b>SignUp</b></a>
            <a class="nav-link" href="/login"><b>LogIn</b></a>
          <% } %>
          
          
        </div>

      </div>
    </div>
  </nav> -->